# rstudio ide package management
.Rhistory
.Rproj.user
.RData
.DS_store
RSiteCatalyst_version_1_4.Rproj
RSiteCatalyst.Rproj
*.csv
.DS_Store
local_code.R
.Rproj.user
tests.R
*.json
*.Rda
tests_v1.3.R

willem-debugging/

docs/index_cache/*