#exportPattern("^[[:alpha:]]+")
export(CancelReport, GetAdminConsoleLog, GetAvailableElements, GetAvailableMetrics,
       GetEVars, GetReportQueue, GetReportSuites, GetSegments, GetSuccessEvents,
       GetTokenCount, GetTrafficVars, GetUsageLog, QueueOvertime, QueueRanked, 
       QueueTrended, SCAuth, GetRealTimeConfiguration, GetRealTimeReport, 
       SaveRealTimeConfiguration)


#Import functions to please CRAN gods instead of using Depends
importFrom("plyr", ldply, quickdf, rbind.fill)
importFrom("stringr", str_replace_all, str_count, str_split_fixed)
importFrom("httr", add_headers, POST, content)
importFrom("digest", digest)
importFrom("rjson", toJSON, fromJSON)
importFrom("base64enc", base64encode)

