#exportPattern("^[[:alpha:]]+")
export(CancelReport, GetAdminConsoleLog, GetAvailableElements, GetAvailableMetrics,
       GetEVars, GetReportQueue, GetReportSuites, GetSegments, GetSuccessEvents,
       GetTokenCount, GetTrafficVars, GetUsageLog, QueueOvertime, QueueRanked, 
       QueueTrended, SCAuth)
