export(BuildClassificationValueSegment)
export(BuildLineItemSegment)
export(GetElements)
export(GetEvars)
export(GetMetrics)
export(GetProps)
export(GetReportSuites)
export(GetSegments)
export(GetSuccessEvents)
export(JsonQueueRealTimeReport)
export(JsonQueueReport)
export(QueueFallout)
export(QueueOvertime)
export(QueuePathing)
export(QueueRanked)
export(QueueTrended)
export(RAA_Auth)
export(RAA_SetDebug)
export(ValidateReport)
importFrom(base64enc,base64encode)
importFrom(digest,digest)
importFrom(httr,POST)
importFrom(httr,add_headers)
importFrom(httr,content)
importFrom(httr,oauth2.0_token)
importFrom(httr,oauth_app)
importFrom(httr,oauth_endpoint)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,toJSON)
importFrom(plyr,ldply)
importFrom(plyr,rename)
importFrom(stringr,str_count)
importFrom(stringr,str_split_fixed)
